<body class="bg-gradient-primary">
  <div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
      <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
          <div
            class="col-lg-5 d-none d-lg-block bg-register-image sağdan-gel"
          ></div>
          <div class="col-lg-7 soldan-gel">
            <div class="p-5">
              <div class="text-center">
                <h1 class="h4 text-gray-900 mb-4">Create an Account!</h1>
                <% if (locals.validation_error != undefined) { %> <%-
                include('./partials/_mesaj') %> <% } %>
              </div>
              <form class="user" action="/register" method="post">
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input
                      type="text"
                      value="<%= typeof name != 'undefined' ? name : '' %>"
                      name="name"
                      class="form-control form-control-user"
                      id="exampleFirstName"
                      placeholder="First Name"
                    />
                  </div>
                  <div class="col-sm-6">
                    <input
                      type="text"
                      value="<%= typeof lastname != 'undefined' ? lastname : '' %>"
                      name="lastname"
                      class="form-control form-control-user"
                      id="exampleLastName"
                      placeholder="Last Name"
                    />
                  </div>
                </div>
                <div class="form-group">
                  <input
                    type="email"
                    value="<%= typeof email != 'undefined' ? email : '' %>"
                    name="email"
                    class="form-control form-control-user"
                    id="exampleInputEmail"
                    placeholder="Email Address"
                  />
                </div>
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input
                      type="password"
                      value="<%= typeof password != 'undefined' ? password : '' %>"
                      name="password"
                      class="form-control form-control-user"
                      id="exampleInputPassword"
                      placeholder="Password"
                    />
                  </div>
                  <div class="col-sm-6">
                    <input
                      type="password"
                      value="<%= typeof rpassword != 'undefined' ? rpassword : '' %>"
                      name="rpassword"
                      class="form-control form-control-user"
                      id="exampleRepeatPassword"
                      placeholder="Repeat Password"
                    />
                  </div>
                </div>
                <div class="form-group row">
                  <select
                    class="custom-select form-control"
                    value="<%= typeof language != 'undefined' ? language : '' %>"
                    style="
                      border-radius: 50px;
                      height: 5vh;
                      width: 26.3vw;
                      margin-left: 0.7vmax;
                    "
                    type="language"
                    name="language"
                    id="language"
                  >
                  <option selected>Choose your language</option>
                  <option value="tr">Turkish</option>
                  <option value="en">English</option>
                  <option value="es">Spanish</option>
                  <option value="it">Italian</option>
                  <option value="de">German</option>
                  <option value="fr">French</option>
                  <option value="ru">Russian</option>
                  <option value="hi">Hindi</option>
                  <option value="ar">Arabic</option>
                  <option value="zh">Chinese</option>
                  <option value="pl">Polish</option>
                  <option value="ko">Korean</option>
                  <option value="pt">Portuguese</option>
                  <option value="nl">Dutch</option>
                  <option value="ja">Japanese</option>
                  </select>
                </div>

                <button
                  type="submit"
                  class="btn btn-primary btn-user btn-block"
                >
                  Register Account
                </button>
                
                
              </form>
              <hr />
              
              <div class="text-center">
                <a class="small" href="/login"
                  >Already have an account? Login!</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
